@import "tailwindcss";

 /* Marquee Animation */

@keyframes slideLeftRight {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.marquee {
  animation: slideLeftRight 20s linear infinite;
}

@keyframes infiniteScroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.marquee-container {
  overflow: hidden;
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: infiniteScroll 22s linear infinite;
}

/* Default speed (Laptop / PC) */
.marquee {
  animation: marquee 30s linear infinite;
}

/* Mobile speed increase (fast) */
@media (max-width: 768px) {
  .marquee {
    animation: marquee 10s linear infinite; /* mobile = 2x fast */
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
